
.pie-chart {
	$size: 80px;
	$color-empty: $color-ltgray;
	$color-filled: $color-green;
	$color-text: $color-dkgray;

	display: inline-block;
	width: $size;
	height: $size;
	border-radius: $size/2;
	background: $color-filled;
	vertical-align: bottom;
	overflow: hidden;
	position: relative;

	&__segment {
		background: $color-empty;
		display: block;
		width: $size/2;
		height: $size/2;
		position: absolute;
		z-index: 1;
	}

	&__inner {
		$thickness: 5px;
		$size: $size - 2*$thickness;

		margin: 5px;
		background: white;
		display: block;
		width: $size;
		height: $size;
		line-height: $size;
		border-radius: $size/2;
		text-align: center;
		color: $color-text;
		font-size: 25px;
		font-weight: 300;
		position: absolute;
		z-index: 2;
	}
}
