
/*	Colors	*/
$color-red: #ff7f68;
$color-orange: #ffa940;
$color-green: #a9cf55;
$color-blue: #4e90c7;

$color-gray: #d6d6d6;
$color-ltgray: #f6f5f6;
$color-dkgray: #777777;

/*	Input sizing	*/
$input-height: 64px;

