
/*	Colors	*/
$color-red: #ff7f68;
$color-orange: #ffa940;
$color-green: #a9cf55;
$color-ltgreen: #edfdca;
$color-blue: #4e90c7;
$color-ltblue: #e5f2fd;

$color-gray: #d6d6d6;
$color-ltgray: #ededed;
$color-xltgray: #f6f5f6;
$color-dkgray: #777777;

/*	Input sizing	*/
$input-height: 32px;

/*	Fonts	*/
$font-sans-serif: Arial, Helvetica, sans-serif;
$font-stack: Roboto, $font-sans-serif;
$font-size: 12px;


