$header-height: 56px;

.header {
	$height: $header-height;
	$icon-spacing: 10px;

	height: 56px;
	background: $color-xltgray;
	border-bottom: solid $color-gray 1px;
	@include no-select();
	

	&__form {
		display: inline-block;
	}

	&__icon {
		@include make-icon(28px);
		line-height: $height;
		color: $color-gray;
		float: right;
		margin-left: $icon-spacing;

		.badge {
			font-family: $font-stack;
			margin-left: -15px;
			margin-top: 10px;
			vertical-align: top;
			border: solid $color-xltgray 1px;
		}
	}

	&__avatar {
		$size: 32px;
		$displace: ($height - $size)/2;

		@include inline-box($size, $size);
		@include border-radius($size/2);
		background: $color-red no-repeat center center;
		background-size: cover;
		float: right;
		margin: $displace 0 0 $icon-spacing;
	}

	&__form {
		margin: 0 20px;
	}

	&_rainbow {
		$height: 4px;

		padding-top: $height;

		&::before {
			content:"";
			position: relative;
			top: -$height;
			margin-bottom: -$height;
			display: block;
			height: $height;
			background: $color-red
				linear-gradient(90deg,
					$color-blue 25%,
					$color-red 25%, $color-red 50%,
					$color-orange 50%, $color-orange 75%,
					$color-green 75%
				) repeat 20px top;
			background-size: 520px;
		}
	}

	.nav {
		display: inline-block;
	}
}


.nav {
	$height: 56px;
	$item-padding: 15px;

	list-style: none;
	padding: 0;
	margin: 0 0 0 -$item-padding;

	&__item {
		display: inline-block;
		line-height: $height;
		height: $height;
	}

	&__link {
		display: inline-block;
		padding: 0 $item-padding;
		height: $height;
		line-height: $height;
		color: $color-dkgray;
		text-decoration: none;
	}
}

