
.panel {
	$border-color: $color-gray;
	$h-padding: 15px;
	$v-padding: 10px;
	$radius: 3px;

	display: block;
	margin-bottom: 20px;


	&__header {
		background: $color-xltgray;
		color: $color-dkgray;
		border: solid $border-color 1px;
		padding: $v-padding $h-padding;
	}

	&__title {
		font-weight: bold;
		text-transform: uppercase;
		margin: 0;
		font-size: 18px;
	}

	&__body {
		border: solid $border-color 1px;
		padding: $v-padding $h-padding;
	}

	&__footer {
		border: solid $border-color 1px;
		padding: $v-padding $h-padding;
	}

	&__buttons {
		font-size: 0;
		display: table;
		table-layout: fixed;
		width: 100%;
		border-radius: 0 0 $radius $radius;
		overflow: hidden;
		margin-top: -1px;

		& > .btn {
			display: table-cell;
			padding: 3px 2px;
			@include border-radius(0);

			&:not(:first-child) {
				border-left: solid white 1px;
			}
		}
	}

	/*	hide top border for multiple adjacent bodies	*/
	&__body + &__body,
	&__header + &__body,
	&__body + &__footer {
		border-top: 0;
	}

	&__header:first-child,
	&__body:first-child,
	&__footer:first-child {
		border-top-left-radius: $radius;
		border-top-right-radius: $radius;
	}

	&__header:last-child,
	&__body:last-child,
	&__footer:last-child {
		border-bottom-left-radius: $radius;
		border-bottom-right-radius: $radius;
	}
}
