
.player {
	$height: 160px;
	$controls-height: 32px;
	$controls-margin: 15px;
	$control-spacing: 6px;
	$control-icon-size: 18px;

	background: black;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	border-radius: 3px;
	position: relative;
	overflow: hidden;

	&__video {
		display: block;
		width: 100%;
	}

	&__controls {
		box-sizing: border-box;
		height: $controls-height;
		background: rgba(255,255,255, 0.2);
		border-radius: 3px;
		position: absolute;
		bottom: $controls-margin;
		right: $controls-margin;
		left: $controls-margin;
		overflow: hidden;
		padding: $control-spacing;
	}

	&__button {
		@include make-icon($control-icon-size);
		float: right;
		margin-left: $control-spacing;

		&:active {
			color: $color-red;
		}
	}

	&__play {
		@include make-icon($control-icon-size);
		@include icon-glyph('\f3a9');
		float: left;
		margin-left: 0;
		margin-right: $control-spacing;
	}

	&__pause {
		@include icon-glyph('\f3a6');
	}

	&__full-screen {
		@include icon-glyph('\f16d');
	}

	&__mute {
		@include icon-glyph('\f3bc');
	}
	&__muted {
		@include icon-glyph('\f3bb');
	}

}
