
.player {
	$height: 160px;
	$controls-height: 32px;
	$controls-margin: 15px;

	background: black;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	border-radius: 3px;
	position: relative;
	overflow: hidden;

	&__video {
		display: block;
		width: 100%;
	}

	&__controls {
		height: $controls-height;
		background: rgba(255,255,255, 0.2);
		border-radius: 3px;
		position: absolute;
		bottom: $controls-margin;
		right: $controls-margin;
		left: $controls-margin;
	}
}
