/**
*	These styles used only to demonstrate UI-Kit
*	and not required for component usage in your projects.
*
*	@author: Veniamin Zolotukhin <venya@venya.com>;
*/


/*	Layout	*/
$page-width: 760px;

/*	Colors	*/
$background: white;


body {
	margin: 0;
	background: $background;
}

.container {
	width: $page-width;
	margin-left: auto;
	margin-right: auto;
}

/*	Used for vertical spacing	*/
section {
	margin: 30px 0;
}

/*	Quick and dirty implementation	*/
.row {
	display: table;
	width: 100%;

	.col-4 {
		vertical-align: top;
		display: table-cell;
		width: 33%;
	}
}