/**
*	These styles used only to demonstrate UI-Kit
*	and not required for component usage in your projects.
*
*	@author: Veniamin Zolotukhin <venya@venya.com>;
*/


/*	Layout	*/
$page-width: 780px;
$column-gap: 15px;

/*	Colors	*/
$background: white;


body {
	margin: 0;
	background: $background;
}


.container {
	width: $page-width;
	margin-left: auto;
	margin-right: auto;
}

.header {
	min-width: $page-width;
}

/*	Used for vertical spacing	*/
section {
	margin: 20px 0;
}

/*	Quick and dirty implementation	*/
.row {
	display: table;
	width: 100%;

	.col {
		vertical-align: top;
		display: table-cell;
		padding-left: $column-gap;
	}
	.col:first-child {
		padding-left: 0;
	}
	.col-third {
		width: ($page-width - 2*$column-gap) / 3;
	}
}