/**
*	Components presented in UI Kit
*
*	@author: Veniamin Zolotukhin <venya@venya.com>;
*/

@import "reset";
@import "globals";


/*	Global settings and typography	*/

body {
	font-family: $font-stack;
}


/*	Components	*/

@import "header";
@import "inputs";
@import "switch";
@import "charts";
@import "range";
@import "panel";
@import "calendar";
@import "player";



/*	Utilities */

.pull-left {
	float: right;
}
.pull-right {
	float: right;
}

.text-right {
	text-align: right;
}
.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}


